image:
  repository: todoapp
  tag: local
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8000

serviceAccount:
  create: true
  name: ""

ingress:
  enabled: false

httpRoute:
  enabled: false

autoscaling:
  enabled: false

serviceMonitor:
  enabled: false
  interval: 10s
  path: /metrics
  port: http
  labels: {}
